// Google Fonts - Open Sans.
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

// Colors.
//// Accent colors.
$colorAccent1: #3481C1;
$colorAccent2: #9CC4EC;

//// Light colors.
$colorLight1: #F2F5F6;
$colorLight2: #E8EBEE;
$colorLight3: #D9DADB;

//// Dark colors.
$colorDark1: #344049;

// Custom classes.
.btnDark {
    background-color: $colorAccent1;
    color: $colorLight1;
    border: 1px solid $colorAccent1;

    &:hover, &:disabled {
        background-color: $colorLight2;
        color: $colorAccent1;
        border: 1px solid $colorLight3;
    }
}

.btnLight {
    background-color: $colorLight1;
    color: $colorAccent1;

    &:hover, &:disabled {
        background-color: $colorAccent1;
        color: $colorLight2;
        border: 1px solid $colorLight3;
    }
}

// Global styles.
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background-color: $colorAccent1;
    color: $colorLight1;
}

input, button {
    border-radius: 3px;
    border: 1px solid $colorLight2;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    height: 2rem;
}

button {
    cursor: pointer;
    height: 3em;
    transition: background-color 200ms ease-in-out, border 300ms ease-in-out;

    &:disabled {cursor: not-allowed;}
}

h1 {font-weight: 300;}

i {margin-right: .3rem;}

#app {margin: 5vh 10vw;}

// Section styles.
//// Navbar.
#navbar {
    width: 100%;
    background-color: $colorLight1;
    overflow: auto;

    a {
        float: left;
        text-align: center;
        padding: 12px;
        color: $colorAccent1;
        text-decoration: none;
        font-size: 17px;
        transition: background-color 100ms ease-in-out, letter-spacing 200ms ease-in-out;
    }

    a:hover {
        letter-spacing: 2px;
        background-color: $colorLight2;
    }

    @media screen and (max-width: 500px) {
        a {
            float: none;
            display: block;
        }
    }
}

//// Home.
#home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    // Div element with form elements.
    .loginForm {
        border-radius: 3px;
        text-align: center;
        color: $colorDark1;
        background-color: $colorLight1;
        width: 90vw;
        max-width: 300px;
        box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
        padding: 30px;

        h1 {margin: 10px 0;}

        label {
            float: left;
            padding: 10px 0 2px 0;
            font-size: .8rem;
            color: $colorDark1
        }

        input {
            box-sizing: border-box;
            width: 100%;
        }

        button {
            box-sizing: border-box;
            width: 100%;

            &[type=submit] {margin-top: 1rem;}
        }

        // Span element that displays fetch response message.
        .formMsg--Success {color: green;}
        .formMsg--Error {color: red;}
        .formMsg--Warning {color: orange;}
    }
}

//// Footer.
#footer {
    color: #9CC9ED;

    span {
        position: absolute;
        bottom: 3vh;
        left: 0;
        right: 0;
        text-align: center;
    }
}