// Google Fonts - Open Sans.
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

// Colors.
$accent: #7289da;
$light: #e6e6e6;
$dark1: #555555;
$dark2: #2c2f33;
$dark3: #23272a;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background-color: $light;
    color: $dark2;
}

input {
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding: 5px;
    margin-bottom: 10px;
    transition: background-color 100ms ease-in-out;

    &[type="submit"] {
        cursor: pointer;
        padding: 10px;
        margin: 10px;
        background-color: $accent;
        color: $light;
        &:hover {
            background-color: $light;
            color: $dark2;
        }
    }
}

.navbar {
    width: 100%;
    background-color: $dark1;
    overflow: auto;
    a {
        float: left;
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        transition: background-color 100ms ease-in-out;
    }
    a:hover {
        background-color: $accent;
    }

    @media screen and (max-width: 500px) {
        a {
            float: none;
            display: block;
        }
    }
}

#app {
    margin: 5vh 10vw;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .formWrapper {
        text-align: center;
        color: $light;
        background-color: $dark1;
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        padding: 15px;
        h1 {
            margin: 10px;
        }
        label {
            display: inline-block;
            padding: 10px 0 5px 0;
        }
    }
    //text-align: center;
}